<header class="row-full">
  <nav>
    <a routerLink="/110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9" routerLinkActive="active">Home</a>
    <a routerLink="/flight-results" routerLinkActive="active">Flight Results</a>
    <a routerLink="/not-found" routerLinkActive="active">Not Found</a>
  </nav>
  <div class="gr-4">
    <div #header></div>
  </div>
</header>
<div class="row-full">
  <aside class="sidebar">
    <div #basket></div>
  </aside>
  <div class="container">
    <section class="row">
        <div #main></div>
    </section>
  </div>
</div>
<footer class="row-full">
  <div class="container">
    <div class="row">
      <div #footer></div>
    </div>
  </div>
</footer>
