<fieldset>
  <legend>Search Criteria</legend>
  <span *ngIf="recentSearches.length >0" (click)="showRecent()">Show Recent Searches ({{recentSearches.length}}) &gt;&gt;</span>
  <p><input type="checkbox" id="oneWay" [(ngModel)]="model.OneWay" /><label for="oneWay"><span  [field]="'One Way Label'" [control]="control" [isEditing]="isEditing" [defaultValue]="'One Way'"></span></label>
    <p>
      <label for="departureAirport"><span  [field]="'Departure Label'" [control]="control" [isEditing]="isEditing" [defaultValue]="'Depart From:'"></span></label>
      <airport-name [code]="model.DepartureAirport"></airport-name>
      <button id="departureAirport" (click)="selectDeparture()">...</button>
    </p>
    <p>
      <label for="arrivalAirport"><span  [field]="'Destination Label'" [control]="control" [isEditing]="isEditing" [defaultValue]="'Arrive At:'"></span></label>
      <airport-name [code]="model.ArrivalAirport"></airport-name>
      <button id="arrivalAirport" (click)="selectArrival()">...</button>
    </p>
    <p>
      <label for="departureDate"><span [field]="'Departure Date'" [control]="control" [isEditing]="isEditing" [defaultValue]="'Depart On:'"></span></label>
      <input type="date" id="departureDate" required [(ngModel)]="model.DepartureDate" />
    </p>
    <p *ngIf="!model.OneWay">
      <label for="returnDate"><span [field]="'Return Date'" [control]="control" [isEditing]="isEditing" [defaultValue]="'Return On:'"></span></label>
      <input type="date" id="arrivalDate" min="{{model.DepartureDate}}" [(ngModel)]="model.ReturnDate" />
    </p>
    <fieldset>
      <legend><span [field]="'Passenger Mix'" [control]="control" [isEditing]="isEditing" [defaultValue]="'Passenger Mix'"></span></legend>
      <p>
        <label for="adultCount"><span>Adults (16+)</span></label>
        <input type="number" id="adultCount" min="1" [(ngModel)]="model.Mix.AdultCount" />
      </p>
      <p>
        <label for="childCount"><span>Children (2-15)</span></label>
        <input type="number" id="childCount" min="0" [(ngModel)]="model.Mix.ChildCount" />
      </p>
      <p>
        <label for="infantCount"><span>Infant (&lt;2)</span></label>
        <input type="number" id="infantCount" min="0" [(ngModel)]="model.Mix.InfantCount" />
      </p>
    </fieldset>
    <p>
      <button type="submit" (click)="onSubmit()">Show Flights</button>
    </p>

</fieldset>
