.pure-container {
  z-index: 1000;
  position: absolute;
}

.pure-drawer {
  overflow-y: auto;
}

.pure-toggle-label {
  display: none;
}

.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] {
  display: block;
}
