@charset "UTF-8";
$drawer-width-large: 690px;
$drawer-bgcolor: #000;
@import "pure-drawer/pure-drawer-functions";
@import "pure-drawer/pure-drawer-breakpoints";
@import "pure-drawer/pure-drawer-settings";
@import "pure-drawer/pure-drawer-global";
@import "pure-drawer/effects/effect-slide";
@import "pure-drawer/vendor/animate";

.pure-container {
  z-index: 1000;
  position: absolute;
}

.pure-drawer {
  overflow-y: auto;
}

.pure-toggle-label {
  display: none;
}

.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] {
  display: block;
}
