$ej-brand: #f60 !default;
$ej-disabled: #999 !default;
$ej-link: #fff !default;
$ej-list-background:#2d2d2d !default;
$ej-headerlink: $ej-link !default;
$ej-header-img: 'assets/styles/images/header.gif' !default;
$ej-header-logo: 'assets/styles/images/ej-transparent-x.png' !default;
